* {
    font-family: Arial, sans-serif;
    font-size: 22px;
}
body {
    background-color: #f5eacc;
}
.food-picture {
    height: 400px;
    width: auto;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.home-button {
    color: lightskyblue;
    background-color: darkred;
}